@model IEnumerable<CapstoneProjectStart.Models.PatientInformation>

@{
    ViewBag.Title = "ViewPatientInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewPatientInformation</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewPatient")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Middle Initial
        </th>
        <th>
            Last Name
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Gender
        </th>
        <th>
            Patient ID
        </th>
        <th>
            Insurance
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Middle_Initial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Of_Birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPatient", new { id=item.Patient_ID }) |
            @Html.ActionLink("Details", "DetailsForPatientInformation", new { id=item.Patient_ID }) |
            @Html.ActionLink("Delete", "DeletePatientInformation", new { id=item.Patient_ID })
        </td>
    </tr>
}

</table>
